body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#resultado {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #27ac4d;
}

#resultado::before {
    content: "O resultado da multiplicação é ";
}

#resultado::after {
    content: ".";
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.img {
    text-align: center;
}

.img img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
